plugins {
  id 'nf-azure'
}

process {
  executor = 'azurebatch'
}

azure {
  registry {
    server = secrets.azure_registry_server
    userName = secrets.azure_registry_username
    password = secrets.azure_registry_password
  }
  batch {
    location = secrets.azure_batch_location
    accountName = secrets.azure_batch_accountName
    accountKey = secrets.azure_batch_accountKey
    allowPoolCreation = true
    pools {
      'default' {
        autoScale = true
        vmCount = 1
        maxVmCount = 2
        vmType = 'Standard_D4_v3'
        sku = 'batch.node.centos 7'
        offer = 'centos-container'
        publisher = 'microsoft-azure-batch'
        runas = 'root'
      }
      'cipa' {
        autoScale = true
        maxVmCount = 3
        vmType = 'Standard_HB120-64rs_v2'
        sku = 'batch.node.centos 7'
        offer = 'centos-container'
        publisher = 'microsoft-azure-batch'
        runas = 'root'
      }
    }
  }
  storage {
    accountName = secrets.azure_storage_accountName
    accountKey = secrets.azure_storage_accountKey
    fileShares {
      batchsmb {
        mountPath = '/mnt/batch/tasks/fsmounts'
      }
    }
  }
}

params {
  azureRegistryServer = 'exParams.azure_registry_server'
  azureFileShare = '/mnt/batch/tasks/fsmounts'
}