plugins {
  id 'nf-azure'
}

process {
  executor = 'azurebatch'
}

azure {
  registry {
    server = secrets.azure_registry_server
    userName = secrets.azure_registry_username
    password = secrets.azure_registry_password
  }
  batch {
    location = secrets.azure_batch_location
    accountName = secrets.azure_batch_accountName
    accountKey = secrets.azure_batch_accountKey
    allowPoolCreation = true
    pools {
      'cipa' {
        autoScale = true
        maxVmCount = 6
        vmType = 'Standard_HB120rs_v2'
        sku = 'batch.node.centos 7'
        offer = 'centos-container'
        publisher = 'microsoft-azure-batch'
        privileged = true
        deletePoolsOnCompletion = true
      }
      'default' {
        autoScale = true
        maxVmCount = 3
        vmType = 'Standard_D48a_v4'
        sku = 'batch.node.centos 7'
        offer = 'centos-container'
        publisher = 'microsoft-azure-batch'
        privileged = true
        deletePoolsOnCompletion = true
      }
    }
  }
  storage {
    accountName = secrets.azure_storage_accountName
    accountKey = secrets.azure_storage_accountKey
    tokenDuration = '504h'
    fileShares {
      batchsmb {
        mountPath = '/mnt/batch/tasks/fsmounts'
      }
    }
  }
}

params {
  azureRegistryServer = 'exParams.azure_registry_server'
  azureFileShare = '/mnt/batch/tasks/fsmounts'
}